#order-list{
	display: none;
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	min-height: 100%;
	background-color: #3FB3B2;
	text-align: center;
}

.inner{
	position: relative;
	display: inline-block;
}

#order-table{
	margin-top: 16px;
}

#order-table th,#order-table td{
	border: 1px solid black;
	padding: 4px;
}

#order-detail{
	display: none;
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	min-height: 100%;
	background-color: #3FB3B2;
	text-align: center;
}

#order-detail-tab{
	margin-top: 32px;
}

#order-detail-tab th,#order-detail-tab td{
	border: 1px solid black;
	padding: 4px;
}

#menu-table th, #menu-table td{
	border: 1px solid black;
	padding: 4px;
}

.dismiss-btn{
	position: absolute;
	top: 0;
	right: 0;
}